In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('car-sales.csv')

In [7]:
df2 = df.head(5)

In [13]:
df2.head(5)

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [16]:
X = df2
X_features = ['Make','Colour','Odometer (KM)','Doors','Price']

In [18]:
def coumpute_z_score_normilaization(x):
    mu = np.mean(X,axis=0)
    sigma = np.std(X,axis=0)
    z_norm = X - mu / sigma
    
    return z_norm

In [33]:
df2 = pd.get_dummies(df2).head()
X_train = df2
X_features = ['Make','Colour','Odometer (KM)','Doors','Price']

In [48]:
from sklearn.preprocessing import scale
X_scale = scale(X, axis=0, with_mean=True, with_std=True, copy=True)

In [49]:
X_scale

array([[ 0.68425352,  0.        , -0.5       , -0.5       , -0.5       ,
         1.22474487, -0.5       , -0.5       , -0.5       ,  1.22474487,
        -0.5       , -0.5       ,  2.        , -0.5       , -0.5       ],
       [-0.14804734,  0.        , -0.5       ,  2.        , -0.5       ,
        -0.81649658, -0.5       , -0.5       ,  2.        , -0.81649658,
        -0.5       , -0.5       , -0.5       ,  2.        , -0.5       ],
       [-0.88935546, -1.58113883, -0.5       , -0.5       , -0.5       ,
         1.22474487, -0.5       ,  2.        , -0.5       , -0.81649658,
        -0.5       , -0.5       , -0.5       , -0.5       ,  2.        ],
       [-1.17556603,  1.58113883,  2.        , -0.5       , -0.5       ,
        -0.81649658,  2.        , -0.5       , -0.5       , -0.81649658,
         2.        , -0.5       , -0.5       , -0.5       , -0.5       ],
       [ 1.52871531,  0.        , -0.5       , -0.5       ,  2.        ,
        -0.81649658, -0.5       , -0.5       , -0.5       ,  1.22474487,
        -0.5       ,  2.        , -0.5       , -0.5       , -0.5       ]])

AttributeError: 'numpy.ndarray' object has no attribute 'info'